<div class="row">
    <div id="slogan" class="element"><a href="index.html">
            <h1>SIMPO</h1></a>
        <!--<h2>Инструмент планирования и моделирования поисково-спасательных работ</h2></a>-->
    </div>
    <div id="auth" class="element"  >
    <form id="auth-form" action="/app/login" method="post">
        <div><label for="user">Логин</label>
            <input id="user" type="text" name="user" placeholder="Логин или email" required="required"/></div>
        <div><label for="pwd">Пароль</label>
            <input id="pwd" type="password" name="password" placeholder="Пароль" required="required"/></div>       
            <div><button name="submit" type="submit" class="btn" onclick="autentification()">Вход</button></div>
    </form>
  </div>
    <div id="intro_auth" class="element" style=" display:none;">
    <!--<form id="intro_auth_form">-->
    <form id="intro_auth_form">
        <div>Hello, <label id="intro_user"></label></div>
        <!--<div><button name="submit" onclick="logout()" class="btn">Выход</button></div>-->
        <div><button onClick="logout()" class="btn">Выход</button></div>
    </form>

</div>
</div>

<!--<script type="text/javascript">
    function enter(){
        console.log("yes");
        $("#auth").load("main_page_parts/auth_intro.html");
    }
</script>-->
<!--<script type="text/javascript">

    $("#auth").submit(function (event) {
        event.preventDefault();
        var $form = $("#auth-form"),
        user = $form.find( "input[name='user']" ).val(),
        url = $form.attr( "action" ),
        
        shaObj = new jsSHA("SHA-512", "TEXT");
        shaObj.update(document.getElementById("pwd").value);
        document.getElementById("pwd").value = shaObj.getHash("HEX");

        var posting = $.post( url, { user: user, password: document.getElementById("pwd").value } );

        posting.done(switchAuthLine(data);

//        $.get('/app/login?user=' + document.getElementById("user").value)
//            .success(function (data) {
//                console.log(data);
//                $('#auth-form').toggle();
////                $("#auth").load("main_page_parts/auth_intro.html");
////                $.post("/app/login", {user:"" , password:""},function(data) {});
//            })
//            .error(function (data) {
//                alert("Такого пользователя не существует")
//            });
//            
        
    })
</script>
        -->
