<div id="radio_tools">
    <b>Выберете слой для редактирования:</b><Br>

    <input type="radio" name="editingLayer" value="view"
           onchange="MapPage.turnEditingOfViewOverlay()" checked>Просмотр<Br>
    <div id="only_mngr">
    <input type="radio" name="editingLayer" value="plan"
           onchange="MapPage.turnEditingOfPlanningTracksOverlay('overlay_tools_area',
            'map-page-parts/plan_tools.html', 'plan_tools')">
    Планирование маршрутов<Br>
    <input type="radio" name="editingLayer" value="temp"
           onchange="MapPage.turnEditingOfPlanningVersionsOverlay()">Планирование версий<Br>
    </div>
    <input type="radio" name="editingLayer" value="import"
           onchange="MapPage.turnEditingOfTracksOverlay()">Работа с треками<Br>
</div>



<br>
<hr>
<br>