<div id="track_tools">
    <script type="text/javascript">
        addEventListener("DOMContentLoaded", MapPage.fillListOfTracks());
    </script>
    <p>
        <button onclick="$('#overlay_tools_area').load('map-page-parts/import_tracks_tools.html');">
            Импортировать трек
        </button>
    </p>
    <br>
    <br>
    <ul id="listTracks"></ul>
    <br>
</div>

<br>
<hr>
<br>
