<div id="versions_planning_tools">
    <script type="text/javascript">
        addEventListener("DOMContentLoaded", document.getElementById('version_name').value = MapPage.version_descr);
    </script>
    <p>
        <button id = "version_button" onclick="MapPage.editVersionsOnMap()">Редактировать объекты на карте</button>
    </p>
    <br>
    <p>Ввести название версии: </p>
    <p><textarea id="version_name" disabled title=""></textarea></p>
    <br>
    <p>
        <button id = "version_name_button" onclick="MapPage.saveDescriptionVersion()">Редактировать примечание к версии</button>
    </p>
    <br>
</div>
<br>
<hr>
<br>