
.wrapper-side {
    margin: 1%;
    display: table-cell;
}
#info_left {
      width: 90%;
      height: 80%;
      min-width: 600px;
      }

      #info_right {
      width: 10%;
      height: 80%;
/*      background: green;*/
      max-width: 200px;
      }

      #info_left textarea {
      box-sizing: border-box;
      height: 25%;
      max-width: 100%;
      min-height: 200px;
      
      
      
      }
      #info_buttons {
      float: bottom;
      width: 100%;
      }
      #horizontal_container {
    width: 100%;
    overflow: auto;  
    display: table;
    border-spacing: 10px;
      }
      #short_info {
    display: table;
/*letter-spacing: 1px;
text-transform: uppercase;*/
font-weight: bold;
/*text-align: center;*/
padding: 10px 0px;
/*border: 0px solid #ddd;*/
border-width: 1px 1px 1px 1px;
/*background: #f1f1f1;*/
text-align: center;
width: 100%;
color: #323232;
/*border-top: 1px solid #009933;*/
border-bottom: 1px solid #ddd;

      }
      #short_info div {
          cursor: default;
      }
      #authentication-required{
          display: block;
      }

.element label {
    font-weight: normal;
}