/*@charset "UTF-8";
 http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON 
 
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    text-decoration: none;
}
 HTML5 display-role reset for older browsers 
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
 
 remember to highlight inserts somehow! 
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
 
table {
    border-collapse: collapse;
    border-spacing: 0;
}
---------------------------------------------
colors
$bg:#efe8d8;
$font_p:#bf3f3f;
$font:#515572;
$button:#005397;
$tabs:#32b67a;


Base sets
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

table{border:0}

li {
	list-style-type: none;
}

---------------------

html, body {
  height: 100%;
  font: 14px/1.4 "Arial", "Helvetica CY", "Nimbus Sans L", sans-serif;
  vertical-align: baseline;
  background-color:#eee;
  margin: 0px;
  position: relative;
  cursor: default;}
#wrapper {
	margin: 1%;
}
.wrapper {
  max-width:1040px;
  min-width:320px;
  margin: 10px auto;
  height: inherit;
  overflow: hidden;
  position: relative;
  clear: both;
}
----------------------------
#header{
  display: table;
  width: 100%;
  box-sizing: border-box;   не поддерживается в CSS2 
  margin-left: 0;
  margin-right: 0;
    margin-bottom: 15px;
}
#header div {
    display: table-cell;
    box-sizing: border-box;   не поддерживается в CSS2 
}
#nav{
	margin: 0 auto;
}

.content {

   background-color: #fff;
  box-shadow: 0 -2px 3px -2px rgba(0,0,0,0.2), 0 2px 2px rgba(0,0,0,0.1);
  
  border: 1px solid #ddd;
  border-top: none;
  margin-bottom: 10px;
}

----------Modal windows-------------------

.modal-header h2 {
    color: #555;  
    font-size: 20px;
    font-weight: normal;
    line-height: 1;    
    margin: 0;
}
.modal .btn-close {
    color: #aaa;
    cursor: pointer;
    font-size: 30px;
    text-decoration: none;
    position: absolute;
    right: 5px;
    top: 0;
}

.modal-wrap:before {
    content: "";
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
}
.modal-overlay {
    bottom: 0;
    display: none;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 102;
}

.modal-open:checked ~ .modal-wrap:before,
.modal-open:checked ~ .modal-wrap .modal-overlay {
    display: block;
}
.modal-open:checked ~ .modal-wrap .modal-dialog {
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    top: 5%;
}

.modal-dialog {
    background: #fefefe;
    border: #555555 solid 1px;
    border-radius: 5px;
    position: fixed;
    left: 50%;
    top: -100%;
    -webkit-transform: translate(-50%, -500%);
    -ms-transform: translate(-50%, -500%);
    -o-transform: translate(-50%, -500%);
    transform: translate(-50%, -500%);
    -webkit-transition: -webkit-transform 0.4s ease-out;
    -moz-transition: -moz-transform 0.4s ease-out;
    -o-transition: -o-transform 0.4s ease-out;
    transition: transform 0.4s ease-out;
    width: 80%;
    max-width: 500px;
    z-index: 103;
}
.modal-body {
  padding: 20px;
  overflow: scroll;
}
.modal-body p {
    margin: 0;
}
.modal-header,
.modal-footer {
    padding: 20px 20px;
}
.modal-header {
    border-bottom: #eaeaea solid 1px;
}
.modal-header h2 {
    font-size: 20px;
    margin: 0;
}

.btn {
    background: #fff;
    border: #555 solid 1px;
    border-radius: 8px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px;
    text-decoration: none;
    text-align: center;
    min-width: 60px;
    position: relative;
}

.textbox,
.message{
    height:100%;
    width:100%;
    border-radius:3px;
    border: 1px solid;
    box-sizing:border-box;
    font-size:14px; 
    padding:8px;
    margin-bottom:20px;  
}

#psrListTableAll, #psrListTableActive{
    border-spacing: 10px;
}

------------Adaptive---------------------
@media screen and (max-width:768px){
   #auth.auth li{
  display: none;}
    #hidden-auth.auth {
    display: inline-block;
    float: right;
  }
}

@media screen and (max-width:660px){
 
 
  #slogan h2 {
      display:none;
  }
  #tabs label, #tab-nav label {
     display:none;
  }
  #pull {
      background: #4e4e4e;
      padding: 2%;
    display:block;
  }
 #pull::before,
  #pull::after {
      content: "";
      display: table;
  }
  #pull:after {
      clear:both;
  }
  #pull {
      zoom:1;
  }
  a.to_nav {
      float:right;
      color:#fff;
      padding: 0 10px;
      font-size: 12px;
      font-weight: bold;
      line-height: 22px;
      height: 22px;
      text-transform: uppercase;
      letter-spacing: 0.1em;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      
  }
  a.to_nav:hover,
  a.to_nav:focus{
      color: #1c1c1c;
      background: #ccc;
     
  }
  #pull:hover label{
      display:block;
  }
}*/