/*.reminders div {
    border-bottom: 1px solid #ddd;
}*/

/* скрываем чекбоксы и блоки с содержанием */
.hide,
.hide + label ~ div {
    display: none;
}
/* вид текста label */
.hide + label {
    margin: 0;
    padding: 0;
    color: green;
    cursor: pointer;
    display: inline-block;
}
/* вид текста label при активном переключателе */
.hide:checked + label {
    color: red;
    border-bottom: 0;
    display: block;
}
/* когда чекбокс активен показываем блоки с содержанием  */
.hide:checked + label + div {
    display: block; 
    /*padding: 10px;*/
    /* чуточку анимации при появлении */
     -webkit-animation:fade ease-in 0.5s; 
     -moz-animation:fade ease-in 0.5s;
     animation:fade ease-in 0.5s; 
}

.hide + label:before {
/*    background-color: #1e90ff;
    color: #fff;*/
    color: #000;
    content: "\002B";
    display: block;
    float: left;
    font-size: 14px; 
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    margin: 3px 5px;
    /*text-align: center;*/
    width: 16px;
   
    /*border-radius: 50%;*/
}

.hide:checked + label:before {
    content: "\2212";
}

#create_date {
    font-size:10px;
    color: #AAA;
}